@charset "UTF-8";

:root{
    --color1:  #041f0c ;
    --color2:  #193420 ;
    --color3:  #2d4934 ;
    --color4:  #425d48 ;
    --color5:  #56725c ;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: var(--color5);
}
header{
    background-image: linear-gradient(to top, var(--color1), var(--color2)) ;    padding-top: 20px;
    padding-bottom: 10px;
}
header h1{
    color: #56725c;
    text-align: center;
}
nav{
    background-color: var(--color1);
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.536);
}
nav a{
    padding: 10px;
    text-decoration: none;
    color: #56725c;
    
}
nav a:hover{
    background-color: #425d48;
    color: #041f0c;
    padding: 10px;
    transition-duration: 0.5s;
}
section{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.58);
    background-color: white;
    margin-right: 5vh;
    margin-left: 5vh;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
}
section h2{
    margin-top: 20px;
    margin-bottom: 10px;
}
