@charset "UTF-8";

:root{
    --color1:  #74aef9;
    --color2:  #5c9de6;
    --color3:  #448cd3;
    --color4:  #2c7ac0;
    --color5:  #135184;
}
*{
    padding: 0px;  
    margin: 0px;
}
body{
    background-color: var(--color1);
}
header{
    padding-bottom: 10px;
    padding-top: 20px;
    background-image: linear-gradient(to top, var(--color5), var(--color3));
}
header h1{
    text-align: center;
    color: var(--color1);
}
nav{
    background-color: var(--color5);
    padding-top: 10px;
    padding-bottom: 10px;
}
nav a{
    color: var(--color1);
    text-decoration: none;
    padding: 10px;
}
nav a:hover{
    background-color: var(--color3);
    color: #041f0c;
    padding: 10px;
    transition-duration: 0.5s;
}
p{
    margin-bottom: 50px;
}
p.list{
    margin-bottom: 0px;
}
section{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.58);
    background-color: white;
    margin-right: 5vh;
    margin-left: 5vh;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
}